<!--<div>
  <p>
  <a routerLink="/c1">c1</a>
</p>
<p>
  <a routerLink="/c2">c2</a>
</p>
<p>


  <a routerLink="/c3">c3</a>
</p>

<p>
  <a routerLink="/c4/1">c4 con parametro 1</a>
</p>
<p>
  <a routerLink="/c4/2">c4 con parametro 2</a>
</p>
<p>
  <a routerLink="/c4/3">c4 con parametro 3</a>
</p>
</div>
<div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="c1" routerLink="/c1">c1</mat-button-toggle>
    <mat-button-toggle value="italic" routerLink="/c2">c2</mat-button-toggle>
    <mat-button-toggle value="underline" routerLink="/c3">c3</mat-button-toggle>
  </mat-button-toggle-group>

</div>
-->
************************************
<p>
  <a routerLink="/c5/1/otro/mensaje">c5 con dobles parametros</a>
</p>


<router-outlet></router-outlet>
